openapi: 3.0.3
info:
  title: BrainX API SSOT
  version: 1.0.0-revised
  license:
    name: Proprietary
    url: https://brainx.p-e.kr
  description: 'BrainX 공개 및 내부 REST 계약 문서.


    개정 정책:

    - Public/client API는 현재 구현된 Ingestion 발행 헬퍼(/v1/publish-jobs)를 제외하고 /api/v1 아래에 둔다.

    - 서비스 간 동기 API는 /internal/v1 아래에 명시적으로 격리한다.

    - 중복된 회원 탈퇴 취소 엔드포인트는 제거했다.

    - /support/inquiries는 /support/tickets로 통합했다.

    - 토큰 사용량 기록은 AsyncAPI 이벤트 우선으로 처리하며 공개 REST command는 제공하지 않는다.

    - 발행 작업은 현재 클립보드용 콘텐츠를 포함해 200 OK를 반환한다.

    - operation 단위 소비자 메타데이터는 x-consumers로 표현한다.

    - operation 단위 이벤트 결합은 x-produces-events로 표현하고 AsyncAPI SSOT를 참조한다.'
servers:
- url: https://brainx.p-e.kr
  description: AWS dev API 게이트웨이. 로컬 개발은 Gateway-Service 기본 포트 8088을 사용한다.
- url: https://api.brainx.com
  description: 운영 API 게이트웨이
tags:
- name: Identity & Access
  description: 인증, 계정 보안, 프로필 및 동의 관리
- name: Support
  description: 사용자 문의 티켓 통합 관리
- name: Knowledge Workspace
  description: 노트, 폴더, 링크, 공유, 워크스페이스의 원장 서비스
- name: Content Ingestion & Publishing
  description: 파일, 변환, 가져오기, 내보내기, 발행 및 확장 프로그램
- name: MCP Agent Gateway
  description: 외부 에이전트와 MCP 클라이언트용 도구 게이트웨이 및 범위 제한 API key 관리
- name: Knowledge Intelligence
  description: 시맨틱 검색, RAG, AI 제안, 리포트 및 모델 설정
- name: Commerce & Operations
  description: 플랜, 구독, 웹훅, 사용량, 대시보드, 텔레메트리 및 가이드
- name: Admin
  description: 관리자 콘솔 작업
- name: Internal Service APIs
  description: 서비스 간 동기 호출 API. 브라우저나 외부 클라이언트에는 노출하지 않는다.
security:
- bearerAuth: []
paths:
  /api/v1/auth/email-availability:
    get:
      operationId: checkEmailAvailability
      summary: 이메일 중복 확인
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.auth.signup
        type: frontend
        description: 회원가입 및 이메일 인증 화면
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      x-implementation-note: monitoring snapshots persist live Kafka consumer-group lag from Admin-Service so the dashboard renders the current backlog instead of an inferred value.
      parameters:
      - name: email
        in: query
        required: true
        schema:
          type: string
          format: email
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/EmailAvailabilityData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/auth/email-verifications:
    post:
      operationId: requestEmailVerification
      summary: 이메일 인증 코드 요청
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.auth.signup
        type: frontend
        description: 회원가입 및 이메일 인증 화면
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events:
      - EmailVerificationRequested
      x-internal-sync-calls: []
      x-async-boundary: false
      description: 인증 코드 생성/만료시간 기록, 메일 발송은 EmailVerificationRequested 이벤트로 비동기 처리한다.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/EmailVerificationResponseData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/auth/email-verifications/verify:
    post:
      operationId: verifyEmailVerification
      summary: 이메일 인증 코드 확인
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.auth.signup
        type: frontend
        description: 회원가입 및 이메일 인증 화면
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationVerifyRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/EmailVerificationVerifiedData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/auth/password/temporary:
    post:
      operationId: issueTemporaryPassword
      summary: 임시 비밀번호 발급
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.auth.login
        type: frontend
        description: 로그인 및 비밀번호 복구 화면
      x-produces-events:
      - PasswordChanged
      x-internal-sync-calls: []
      x-async-boundary: false
      description: PASSWORD_CHANGE 목적의 이메일 인증 코드 확인 후 임시 비밀번호를 발급하고 이메일로 발송한다. 임시 비밀번호 원문은 API 응답에 포함하지 않는다.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemporaryPasswordIssueRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/TemporaryPasswordIssueData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/auth/signup/email:
    post:
      operationId: signupWithEmail
      summary: 이메일 회원가입
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.auth.signup
        type: frontend
        description: 회원가입 및 이메일 인증 화면
      x-produces-events:
      - UserRegistered
      - ConsentRecorded
      x-internal-sync-calls: []
      x-async-boundary: false
      description: 회원 생성과 JWT 발급은 동기 처리. 기본 플랜/기본 워크스페이스/웰컴 메일은 이벤트 기반 후처리.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupEmailRequest'
      responses:
        '201':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/AuthTokenData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/auth/login/local:
    post:
      operationId: loginLocal
      summary: 자체 로그인
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.auth.login
        type: frontend
        description: 로그인 및 OAuth 콜백 화면
      x-produces-events:
      - UserLoggedIn
      x-internal-sync-calls: []
      x-async-boundary: false
      x-implementation-note: 로그인 성공 응답은 Redis 세션 이력 저장과 분리한다. 세션 이력 기록이 실패해도 auth 응답은 유지하고, 기록은 best-effort로 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalLoginRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/AuthTokenData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/auth/logout:
    post:
      operationId: logout
      summary: 로그아웃
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.auth.login
        type: frontend
        description: 로그인 및 OAuth 콜백 화면
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events:
      - UserLoggedOut
      x-internal-sync-calls: []
      x-async-boundary: false
      x-implementation-note: 로그아웃은 Redis 세션 종료 기록과 분리한다. 세션 이력 갱신이 실패해도 auth 응답은 유지하고, 기록은 best-effort로 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      nullable: true
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/auth/token/refresh:
    post:
      operationId: refreshToken
      summary: 토큰 재발급
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.auth.login
        type: frontend
        description: 로그인 및 OAuth 콜백 화면
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      x-implementation-note: 토큰 재발급은 Redis 세션 마지막 활동 시간 갱신과 분리한다. 세션 이력 갱신이 실패해도 auth 응답은 유지하고, 기록은 best-effort로 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/RefreshTokenResponseData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/auth/oauth/{provider}/authorize:
    get:
      operationId: getOAuthAuthorizeUrl
      summary: 소셜 로그인 인증 URL 요청
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.auth.login
        type: frontend
        description: 로그인 및 OAuth 콜백 화면
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Provider'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/OAuthAuthorizeData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/auth/oauth/{provider}/callback:
    post:
      operationId: handleOAuthCallback
      summary: 소셜 로그인 콜백
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.auth.login
        type: frontend
        description: 로그인 및 OAuth 콜백 화면
      x-produces-events:
      - OAuthAccountLinked
      - UserRegistered
      x-internal-sync-calls: []
      x-async-boundary: false
      x-implementation-note: 소셜 로그인 콜백은 Redis 세션 이력 저장과 분리한다. 세션 이력 기록이 실패해도 auth 응답은 유지하고, 기록은 best-effort로 처리한다.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - name: provider
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Provider'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthCallbackRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/OAuthCallbackData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/auth/onboarding/complete:
    post:
      operationId: completeOnboarding
      summary: OAuth 신규 가입자 정보 완료
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.onboarding
        type: frontend
        description: 온보딩 프로필 및 동의 플로우
      x-produces-events:
      - UserRegistered
      - OAuthAccountLinked
      - ConsentRecorded
      - UserProfileUpdated
      x-internal-sync-calls: []
      x-async-boundary: false
      description: OAuth 신규 가입자의 정보 보완 완료 플로우. 관심사, 필수/선택 동의를 함께 제출한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingCompleteRequest'
      responses:
        '201':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/AuthTokenData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security: []
  /api/v1/users/me:
    get:
      operationId: getMyProfile
      summary: 내 프로필 조회
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.onboarding
        type: frontend
        description: 온보딩 프로필 및 동의 플로우
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      - id: web.home
        type: frontend
        description: 홈, 워크스페이스 동기화, 최근 활동 및 검색 UI
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      x-implementation-note: Subscription reads require the persisted `billingCycle` field defined by `SubscriptionData`. Commerce-Service must keep `commerce_subscriptions.billing_cycle` present in every deployed database, and Spring SQL init applies the tracked SQL migration under `Commerce-Service/src/main/resources/db/migration` before JPA schema update so older environments are repaired before serving reads.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/UserMeData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/users/me/profile:
    patch:
      operationId: updateMyProfile
      summary: 프로필 수정
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.onboarding
        type: frontend
        description: 온보딩 프로필 및 동의 플로우
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events:
      - UserProfileUpdated
      x-internal-sync-calls: []
      x-async-boundary: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/ProfileUpdateData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/users/me/password:
    patch:
      operationId: changeMyPassword
      summary: 비밀번호 변경
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events:
      - PasswordChanged
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordChangeRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      nullable: true
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/users/me/2fa/email:
    post:
      operationId: configureEmailTwoFactor
      summary: 이메일 2FA 설정
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events:
      - TwoFactorConfigured
      x-internal-sync-calls: []
      x-async-boundary: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorEmailRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/TwoFactorData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/users/me/social-accounts:
    post:
      operationId: linkSocialAccount
      summary: 소셜 계정 연결
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events:
      - OAuthAccountLinked
      x-internal-sync-calls: []
      x-async-boundary: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialAccountLinkRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/SocialAccountLinkData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/users/me/social-accounts/{provider}:
    delete:
      operationId: unlinkSocialAccount
      summary: 소셜 계정 연결 해제
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events:
      - OAuthAccountUnlinked
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Provider'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/SocialAccountLinkData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/users/me/consents:
    put:
      operationId: updateMyConsents
      summary: 개인정보 동의 수정
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.onboarding
        type: frontend
        description: 온보딩 프로필 및 동의 플로우
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events:
      - ConsentUpdated
      x-internal-sync-calls: []
      x-async-boundary: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentUpdateRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/ConsentData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/users/me/deletion-request:
    post:
      operationId: requestMyDeletion
      summary: 회원 탈퇴 요청
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events:
      - UserDeletionRequested
      x-internal-sync-calls: []
      x-async-boundary: false
      description: 30일 유예 후 삭제/익명화는 Deletion Orchestrator가 처리한다.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletionRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/DeletionScheduledData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
    delete:
      operationId: cancelMyDeletion
      summary: 회원 탈퇴 요청 취소
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.settings
        type: frontend
        description: 계정, 프로필, 보안 및 AI 설정 화면
      x-produces-events:
      - UserDeletionCancelled
      x-internal-sync-calls: []
      x-async-boundary: false
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      nullable: true
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/users/me/notifications:
    get:
      operationId: listMyNotifications
      summary: 내 알림 목록 조회
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.home
        type: frontend
        description: 사용자 상단 벨 알림함
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/UserNotificationsData'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      security:
      - bearerAuth: []
  /api/v1/users/me/notifications/{notificationId}/read:
    post:
      operationId: markMyNotificationRead
      summary: 내 알림 읽음 처리
      tags:
      - Identity & Access
      x-producer-service: identity-access
      x-visibility: public
      x-consumers:
      - id: web.home
        type: frontend
        description: 사용자 상단 벨 알림함
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/UserNotificationData'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      security:
      - bearerAuth: []
  /api/v1/support/tickets:
    post:
      operationId: createSupportTicket
      summary: 문의 접수
      tags:
      - Support
      x-producer-service: commerce-operations
      x-visibility: public
      x-consumers:
      - id: web.support
        type: frontend
        description: 사용자 지원 센터
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      description: 기존 /support/inquiries와 /support/tickets 중복은 tickets로 통합한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportTicketCreateRequest'
      responses:
        '201':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/SupportTicketData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
    get:
      operationId: listMySupportTickets
      summary: 내 문의 목록 조회
      tags:
      - Support
      x-producer-service: commerce-operations
      x-visibility: public
      x-consumers:
      - id: web.support
        type: frontend
        description: 사용자 지원 센터
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/SupportTicketListData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/support/tickets/{ticketId}:
    get:
      operationId: getMySupportTicket
      summary: 문의 상세 조회
      tags:
      - Support
      x-producer-service: commerce-operations
      x-visibility: public
      x-consumers:
      - id: web.support
        type: frontend
        description: 사용자 지원 센터
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminPaymentRefundRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/SupportTicketDetailData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/workspace/sync:
    get:
      operationId: syncWorkspace
      summary: 워크스페이스 동기화
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.home
        type: frontend
        description: 홈, 워크스페이스 동기화, 최근 활동 및 검색 UI
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/WorkspaceSyncData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/workspace/me/stats:
    get:
      operationId: getMyWorkspaceStats
      summary: 내 노트 통계 조회
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.home
        type: frontend
        description: 홈 대시보드의 노트 통계 KPI와 인사이트
      - id: web.settings
        type: frontend
        description: 사용자 설정의 노트 통계 메뉴
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      description: 인증된 사용자 본인의 노트 개수, 저장 용량, 최근 활동을 조회한다.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/WorkspaceUserStatsData'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/notes:
    x-implementation-note: Authenticated note requests must use the bearer-auth user context as the source of truth. Any dev-only `X-User-Id` override is allowed only for unauthenticated local development and must not replace a real logged-in user's identity.
    post:
      operationId: createNote
      summary: 노트 생성
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.home
        type: frontend
        description: 홈, 워크스페이스 동기화, 최근 활동 및 검색 UI
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      - id: web.chat
        type: frontend
        description: RAG 채팅 AI 답변/초안을 새 Workspace 노트로 저장
      - id: external-agent
        type: external-client
        description: 범위 제한 API 키 및 MCP 자동화 클라이언트
      - id: chrome-extension
        type: external-client
        description: BrainX 크롬 확장 캡처 클라이언트
      x-produces-events:
      - NoteCreated
      x-internal-sync-calls: []
      x-async-boundary: false
      x-implementation-note: Creating a note must also reconcile existing `[[...]]` wiki links from other notes that already reference the new title, so the authoritative note-link ledger and Neo4j projection gain the relationship even when the target note is created later.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteCreateRequest'
      responses:
        '201':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/NoteCreatedData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/notes/{noteId}:
    get:
      operationId: getNote
      summary: 노트 상세 조회
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/NoteDetailData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
    delete:
      operationId: deleteNote
      summary: 노트 삭제
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      - id: web.home
        type: frontend
        description: 홈, 워크스페이스 동기화, 최근 활동 및 검색 UI
      x-produces-events:
      - NoteTrashed
      - NoteDeleted
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      - name: mode
        in: query
        required: true
        schema:
          type: string
          enum:
          - trash
          - permanent
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/DeleteNoteData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/notes/{noteId}/content:
    put:
      operationId: saveNoteContent
      summary: 노트 본문 저장
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      x-produces-events:
      - NoteContentSaved
      x-internal-sync-calls: []
      x-async-boundary: false
      description: 버전 충돌 검증은 동기 처리한다. 검색/임베딩/요약/관계 이벤트 기반 후처리한다.
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteContentSaveRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/NoteContentSaveData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/notes/drafts/list:
    get:
      operationId: listNoteDrafts
      summary: 현재 actor의 Redis draft 목록 조회
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 새로고침 후 PostgreSQL에 없는 Redis-only 새 노트 복구
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      description: 현재 USER/GUEST actor의 dirty set에 남아 있는 Redis draft 목록을 조회한다. `/api/v1/notes/{noteId}`와의 경로 충돌을 피하면서 Gateway의 Workspace route(`/api/v1/notes/**`)를 통과하도록 `/api/v1/notes/drafts/list` 경로를 사용한다. PostgreSQL 원장과 Kafka 이벤트는 갱신하지 않는다.
      x-implementation-note: 현재 actor의 draft 목록은 actor별 dirty set을 직접 조회한다. 백그라운드 PostgreSQL flush가 USER actor dirty set key를 찾을 때는 Redis `KEYS` 대신 `SCAN MATCH workspace:note:dirty:user:* COUNT 500` 방식으로 점진 탐색한다.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/NoteDraftListData'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 채팅 스레드를 찾을 수 없거나 삭제됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 보관된 채팅 스레드에는 새 메시지를 전송할 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/notes/drafts/claim:
    post:
      operationId: claimGuestNoteDrafts
      summary: guest Redis draft를 회원 노트로 전환
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.signup
        type: frontend
        description: 회원가입/로그인 직후 guest Redis draft를 USER PostgreSQL 노트로 저장
      x-produces-events:
      - NoteCreated
      - NoteContentSaved
      x-internal-sync-calls: []
      x-async-boundary: false
      description: |
        로그인된 USER actor가 기존 guest cookie의 Redis draft를 자신의 PostgreSQL 노트로
        claim한다. Gateway는 유효한 JWT 요청에서도 guest cookie가 있으면 X-Guest-Id를
        Workspace-Service로 전달해야 한다. 성공적으로 저장된 guest draft는 Redis draft key와
        dirty set에서 제거된다. 같은 트랜잭션에서 guest가 만든 PostgreSQL 폴더(폴더 생성은
        actor 제약이 없어 guest도 만들 수 있다)의 소유자도 USER로 함께 옮긴다(folderId는
        그대로 유지되므로 draft.folderId/Note.folderId 참조가 끊기지 않는다) — 그 결과 guest
        때의 폴더 구조와 노트-폴더 배치가 회원가입 직후에도 그대로 보인다.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/NoteDraftClaimData'
        '400':
          description: X-Guest-Id 누락
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: USER actor가 아님
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/notes/draft-ids:
    post:
      operationId: issueNoteDraftId
      summary: 새 노트 자동저장용 draft noteId 발급
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 새 노트 작성 전 Redis draft key 생성을 위한 noteId 발급
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      description: 새 노트를 PostgreSQL에 생성하지 않고 Redis 자동저장에 사용할 noteId만 발급한다. 실제 노트 원장 저장과 Kafka 이벤트 발행은 발생하지 않는다.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/NoteDraftIdData'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/notes/{noteId}/draft:
    get:
      operationId: getNoteDraft
      summary: 노트 자동저장 draft 조회
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기 자동저장 복구
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      description: 회원/비회원 actor별 Redis draft 저장소에서 노트 본문 임시 저장본을 조회한다. draft가 없으면 200 응답에 data null을 반환한다.
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 성공. draft가 없으면 data는 null이다.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      nullable: true
                      allOf:
                      - $ref: '#/components/schemas/NoteDraftData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
    put:
      operationId: saveNoteDraft
      summary: 노트 자동저장 draft 저장
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기 자동저장
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      description: 회원/비회원 actor별 Redis draft 저장소에 노트 본문 임시 저장본을 저장한다. PostgreSQL 원장과 Kafka 이벤트는 갱신하지 않는다.
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteDraftSaveRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/NoteDraftSaveData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/notes/{noteId}/metadata:
    patch:
      operationId: patchNoteMetadata
      summary: 노트 메타데이터 수정
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      - id: web.home
        type: frontend
        description: 홈, 워크스페이스 동기화, 최근 활동 및 검색 UI
      x-produces-events:
      - NoteMetadataChanged
      x-internal-sync-calls: []
      x-async-boundary: false
      x-implementation-note: If the title changes, Workspace-Service must rescan existing wiki-link references for both the old and new titles so stale edges are removed and newly satisfiable edges are created in the authoritative note-link ledger and graph projection.
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteMetadataPatchRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/NoteMetadataData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/notes/{noteId}/versions:
    get:
      operationId: listNoteVersions
      summary: 노트 버전 목록 조회
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/NoteVersionsData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/notes/{noteId}/versions/{versionId}/restore:
    post:
      operationId: restoreNoteVersion
      summary: 노트 버전 복원
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      x-produces-events:
      - NoteContentSaved
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      - name: versionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/VersionRestoreData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/notes/{noteId}/views:
    post:
      operationId: recordNoteView
      summary: 노트 열람 기록 저장
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      - id: web.graph
        type: frontend
        description: 2D/3D 그래프 및 마인드맵 UI
      x-produces-events:
      - NoteViewed
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteViewRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      nullable: true
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/recent-activities:
    get:
      operationId: listRecentActivities
      summary: 최근 열람 노트 조회
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.home
        type: frontend
        description: 홈, 워크스페이스 동기화, 최근 활동 및 검색 UI
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/RecentActivitiesData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/folders:
    post:
      operationId: createFolder
      summary: 폴더 생성
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.home
        type: frontend
        description: 홈, 워크스페이스 동기화, 최근 활동 및 검색 UI
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      x-produces-events:
      - FolderCreated
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderCreateRequest'
      responses:
        '201':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/FolderData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/folders/tree:
    get:
      operationId: getFolderTree
      summary: 폴더 트리 조회
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.home
        type: frontend
        description: 홈, 워크스페이스 동기화, 최근 활동 및 검색 UI
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/FolderTreeData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/folders/{folderId}:
    patch:
      operationId: patchFolder
      summary: 폴더 수정
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.home
        type: frontend
        description: 홈, 워크스페이스 동기화, 최근 활동 및 검색 UI
      x-produces-events:
      - FolderChanged
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderPatchRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/FolderData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
    delete:
      operationId: deleteFolder
      summary: 폴더 삭제
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.home
        type: frontend
        description: 홈, 워크스페이스 동기화, 최근 활동 및 검색 UI
      x-produces-events:
      - FolderDeleted
      x-internal-sync-calls: []
      x-async-boundary: false
      description: |
        하위 폴더(중첩 포함)와 그 안의 노트를 모두 cascade로 삭제한다(더 이상 부모로 승격하지
        않음 — orphan folder/note 방지 정책). mode=trash면 노트는 소프트 삭제(복구 가능),
        permanent이면 완전 삭제. 폴더 자체는 소프트 삭제 개념이 없어 항상 행이 제거된다. 같은
        actor의 Redis draft(아직 PostgreSQL로 flush되지 않은 노트) 중 이 폴더 트리에 속한 것도
        함께 삭제된다.
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          type: string
      - name: mode
        in: query
        required: false
        schema:
          type: string
          enum:
          - trash
          - permanent
          default: trash
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/DeleteFolderData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - bearerAuth: []
      - guestSessionAuth: []
  /api/v1/tags/suggestions:
    get:
      operationId: suggestTags
      summary: 태그 자동완성 조회
      tags:
      - Knowledge Workspace
      x-producer-service: knowledge-workspace
      x-visibility: public
      x-consumers:
      - id: web.note-editor
        type: frontend
        description: 마크다운/WYSIWYG 노트 편집기
      x-produces-events: []
      x-internal-sync-calls: []
      x-async-boundary: false
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiSuccessBase'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/TagsSuggestionData'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
[...]
